.price {
    outline: none;
}

.focusOn{
    border: 3px solid green;
    box-shadow: 1px 1px 1px 0 green;
}
.errorInput {
    border: 3px solid red;
    box-shadow: 1px 1px 1px 0 green;
}
.display-none {
    display: none;
}
.greenInputValue {
    color: green;
}
.currentPrice {
    border: 1px solid black;
    border-radius: 5px;
    display: inline-block;
}
.XButton {
width: 20px;

    text-align: center;
    padding: 3px;
    border-radius: 50%;
    font-weight:bold;

}