//@import "fonts";
//
//
//
//$bgc: #00ff44; //переменная со значением свойства
@mixin flexContaoner($flexDirection) {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-direction: $flexDirection;
}
//.gogi {
//  @include flexContaoner(column);
//  font-size: 24px;
//  color: #00cbf6;
//  background-color: $bgc; // тут переменная включена в качестве значени свойства
//}
//.gogi1 {
//  @include flexContaoner(row);
//  font-size: 52px;
//  color: #AFCDE7;
//  background-color: #495863;
//}

.header {
  @include flexContaoner(column);
  &__title {
    font-size: 16px;
    color: red;
  }
}