body {
    min-width: 1200px;
    font-family: 'Montserrat', Sans-Serif;
    overflow-x: hidden;
}
header{

    background: url("../img/Layer_1.png") no-repeat fixed center;
    background-size: cover;
    height: 1012px;

}
.container {
    max-width: 1160px;
    margin: 0 auto;
    padding-top: 300px;
}
.container-1160px {
    max-width: 1160px;
    margin: 0 auto;

}
.container-1160px-padding-top-92px {
    max-width: 1160px;
    margin: 0 auto;
    padding-top: 82px;

}
nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: rgba(0,0,0,0.4);
    z-index: 5;
    position: fixed;
    width: 100%;
    height: 120px;
}
.logo{
    display: flex;
    align-items: center;
    text-decoration: none;
}
.logo-poligon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 58px;
    height: 67px;
    color: #ffffff;
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
    background: url("../img/Polygon_1.png");
}
.the-Ham-logo {
    font-size: 32px;
    font-weight: 400;
    color: #ffffff;
    padding-left: 8px;
}
.Ham-logo {
    color: #18cfab;
    font-weight: 700;
}
.header-menu {
    width: 644px;
    display: flex;
    justify-content: space-around;

}
.header-menu a {
    text-decoration: none;
    color: #b8b8b8;

    text-transform: uppercase;
    font-size: 13px;
    font-weight: 700;
    padding-top: 51px;
    padding-bottom: 51px;
}
.header-menu a:hover {
    color: #18cfab;
    border-bottom: #18cfab solid 1px;
}
.header-content-text {
    text-align: center;
}
.header-content-text p:nth-child(-n+2){
    text-transform: uppercase;
}
.header-content-text p:nth-child(1) {
    color: white;
    font-size: 35px;
    font-weight: 700;
}
.header-content-text p:nth-child(2) {
    color: white;
     font-size: 79px;
     font-weight: 700;
}
.header-content-text p:nth-child(3) {
    color: #d4d4d4;
    font-size: 34px;
    font-weight: 300;
}

.green-text-section {
    color: #18cfab;
}
.header-content-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 146px;
}
.explore-btn {
    width: 166px;
    height: 61px;
    border-top: #ffffff solid 4px;
    border-radius: 5px;
    background-color: #18cfab;
    font-size: 13px;
    font-weight: 700;
    color: #ffffff;
    text-transform: uppercase;
    margin: 14px;
}
.purchase-btn {
    width: 166px;
    height: 61px;
    border-top: #ffffff solid 4px;
    border-radius: 5px;
    background-color: #00cbf6;
    font-size: 13px;
    font-weight: 700;
    color: #ffffff;
    text-transform: uppercase;
    margin: 14px;
}
.squares {
    display: flex;
}

.squares div{
    min-width: 480px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 374px;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
}
.squares i {
    font-size: 80px;
    font-weight: 700;
    margin-bottom: 50px;
}
.squares div:nth-child(2n+1) {
    background-color: #1c2a33;
    border-top: #18cfab solid 7px;
    color: #18cfab;

}
.squares div:nth-child(2n) {
    background-color: #18cfab;
    border-top: #ffffff solid 7px;
    color: #ffffff;

}
.container-headers {
    margin: 0 auto;
    color: #4e4e4e;
    font-size: 36px;
    font-weight: 400;
    text-align: center;
}
.slashes-after-container-headers-top {
    margin-left: 540px;
    margin-top: 37px;
    width: 76px;
    height: 1px;
    background-color: #18cfab;
}
.slashes-after-container-headers-bottom {
    margin-left: 555px;
    margin-top: 4px;
    margin-bottom: 70px;
    width: 76px;
    height: 1px;
    background-color: #18cfab;
}
.our-services-tabs {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 0;
}
.our-services-tabs-li {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 192px;
    height: 73px;
    background-color: #f8fcfe;
    color: #888889;
    cursor: pointer;
    border: #eff1f1 solid 1px;
    position: relative;
}
.our-services-tabs-li.active{
    background-color: #18cfab;
    color: white;
}
.our-services-tabs-li.active:after {
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 13px 12px 0 12px;
    border-color: #18cfaa transparent transparent transparent;
    position: absolute;
    bottom: -13px;
}
.our-services-tabs-ul-content {
    padding-left: 0;
}
.our-services-tabs-content {
    margin-top: 24px;
    display: none;
    list-style: none;
    padding-left: 0;
    font-weight: 300;
    color: #777777;
    /*line-height: 24.39px;*/
    text-align: justify;
}
.our-services-tabs-content.active {
    display: block;
}
.our-services-tabs-content-img {
    float: left;
    padding-right: 10px;
}
.after-our-services {
    margin-top: 180px;
    background: url("../img/section3.png");
    background-size: cover;
    height: 474px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}
.after-our-services:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.7);
    z-index: 1;
}
.after-our-services button {
    margin-top: 80px;
    z-index: 2;
}
.after-our-services-top {
    margin-top: 126px;
    z-index: 2;
    font-size: 40px;
    font-weight: 700;
    /*line-height: 40.46px;*/
    text-transform: uppercase;
    color: #18cfab;
}
.after-our-services-center {
    color: #d8d8d8;
    font-size: 16px;
    font-weight: 400;
    /*line-height: 40px;*/
    z-index: 2;
}

.our-amazing-work-tabs {
    width: 609px;
    list-style: none;
    display: flex;
    padding-left: 265px;
}
.our-amazing-work-tabs-li {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    height: 73px;
    background-color: #f8fcfe;
    color: #888889;
    cursor: pointer;
    border: #eff1f1 solid 1px;
}
.our-amazing-work-tabs-li.active {
    background-color: #18cfab;
    color: white;
}
.our-amazing-work-img {
    display: none;
}
.our-amazing-work-img.active {
    display: block;
}
.our-amazing-work-images-block {
    min-height: 300px;
    max-height: 600px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    margin:0 auto;
    margin-top: 100px;
    position: relative;
    transition: 1s;
}
.our-amazing-work-images-block-x2 {
    min-height: 300px;
    max-height: 1200px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    margin:0 auto;
    margin-top: 100px;
    position: relative;
    transition: 1s;
}
.load-more-btn {
    margin: 0 auto;
}