
.header {
    background-image: url("../img/header.png");
    background-size: cover;
    padding-top: 530px;
    padding-bottom: 145px;
}
.container_header {
    font-family: sans-serif;
    color: white;
    margin-left: 216px;
}
.header_title {
    font-size: 48px;
    text-transform: uppercase;
}
.header_subtitle {
    font-size: 18px;
}
.header_text {
    display: inline-block;
    font-size: 54px;
    text-transform: uppercase;
    border: 1px white solid;
    background-color: rgba(0,0,0,0.3);
    margin-top: 15px;
    padding: 30px;
}
.yellow_color {
    color: #f1ad1d;
}
.margin13 {
    margin-right: 45px;
}
.about-us {
 background-image: url("../img/Layer 20@1X.png");
    background-size: cover;
}
.about-h2 {
    font-family: 'montserrat', sans-serif;
    font-size: 22px;
    /*font-weight: bold;*/
    text-align: center;
    padding-top: 72px;
    text-transform: uppercase;
}
.about-h3 {
    font-size: 17px;
    font-family: 'Lato', sans-serif;
    text-align: center;
    margin-top: 35px;
}
.line::after {
    content: "";
    display: block;
    height: 4px;
    width: 61px;
    background-color: #F1AD1D;
    margin: 51px auto;
}
.award {
    display: block;
    margin: 0 auto;
}
.about-menu {
    width: 1169px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 100px 170px 10px 170px;
}
.about-menu-left {
}
.about-menu-right>a {
    text-decoration: none;
    font-family: 'Lato', sans-serif;
    color: black;
    font-size: 18px;
}

.about-menu-right>a:hover {
    color: #F1AD1D;
}
.about-menu-right {
    display: flex;
    width: 900px;
    justify-content: space-around;
}
.line1::after {
    display: block;
    content: "";
    height: 4px;
    width: 1169px;
    background-color: #F1AD1D;
    margin: 5px auto;
}
.menu-a::after {
    content: "\25BC";
    font-size: 80%;

}
.business-consulting {
    margin: 0 auto;
    background-image: url("../img/Layer 20@1X.png");
    background-size: cover;
    padding-bottom: 51px;

}
.b-c-header {
    font-family: 'montserrat', sans-serif;
    font-size: 22px;
    /*font-weight: bold;*/
    text-align: center;
    padding-top: 72px;
    text-transform: uppercase;
}
.b-c-header-text {
    font-size: 17px;
    font-family: 'Lato', sans-serif;
    text-align: center;
    margin-top: 35px;
}
.b-c-header-line-after {
    display: block;
    content: "";
    height: 4px;
    width: 60px;
    background-color: #F1AD1D;
    margin: 51px auto;
}
.p-grey-bg {
    background-color: #333333;
    padding: 14px;
    color: #fff;
    display: inline-block;
}
.img-item {
    display: flex;
    padding: 15px;
    align-items: flex-end;
    justify-content: flex-start;
    background-size: cover;
    background-repeat: no-repeat;
}

.consulting {
    background-image: url("../img/consulting.png");
}
.photography {
    background-image: url("../img/photography.png");
}
.web-design {
    background-image: url("../img/web-desighn.png");
}
.advertizing {
    background-image: url("../img/advertizing.png");
}
.business-consulting-container-main {
    margin: 0 auto;
    width: 1196px;

}
.business-consulting-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 30px;
}
.business-consulting-images{
    display: grid;
    grid-template-columns: minmax(270px, 1fr) minmax(270px, 1fr);
    grid-gap: 22px 30px;
    grid-template-rows: auto auto; /*чтобы выравнивалось по высоте родительского елемента!*/
    color: #fff
}
.b-c-d-header {
    font-family: 'montserrat';
    font-size: 18px;
    text-transform: uppercase;
}
.b-c-d-text {
    padding: 26px 0px;
    text-align: justify;
    font-size: 14px;
    font-family: 'Lato';
}
.checkout:link,
.checkout:visited {
    background-color: #f1ad1d;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 27px;
    color: #fff;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    width: 176px;
    font-family: 'montserrat';
    font-size: 14px;
}