html{
    box-sizing: border-box;
}
*{
    box-sizing: inherit;
}
body{
    height: 100%;
    font-size: 14px;
    color: #505050;
    font-family: 'Lato', sans-serif;
}
.container{
    max-width: 1200px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}
/*header settings*/
.page-header{
    background-image: url("../img/header-bg.png");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    width:100%;
    color: #fff;
    height: 100vh;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    justify-content: flex-end;
    padding-bottom: 145px;
}
.header-h2{
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-size: 48px;
    color: #fff;
    font-weight:bold;
    padding-bottom: 16px;
}
.subtitle{
    font-size: 18px;
    padding-bottom: 28px;
}
h1{
    font-size: 54px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    border: 1px solid #fff;
    background-color: rgba(0, 0, 0, 0.302);
    padding: 45px 30px;
}
h1 span{
    padding-right: 50px;
}
.yellow-text{
    color: #f1ad1d;
}
/*main - section team settings*/
.section-heading{
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-size: 22px;
    font-weight: bold;
    padding-bottom: 35px;
}
.section-desc{
    font-size: 17px;
    margin-bottom: 108px;
}
.yellow-line{
    position: relative;
}
.yellow-line:after{
    content: '';
    position: absolute;
    background-color: #f1ad1d;
    top: 52px;
    left: 50%;
    transform: translateX(-50%);
    height: 3px;
    width: 60px;
}
.dotted-bg{
    background-image: url("../img/main-bg.png");
    background-size: cover;
    background-repeat: no-repeat;
}
.align-center{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 65px 15px;
}
.winners-img{
    display: block;
    margin-bottom: 90px;
}
.main-nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 3px solid #f1ad1d;
    padding: 22px 0;
}
.main-menu{
    display: grid;
    width: 67%;
    grid-template-columns: repeat(6, 1fr);
    grid-column-gap: 60px;
}
.menu-item{
    text-decoration: none;
    text-transform: uppercase;
    font-size: 18px;
    color: #3d3d3d;
}
.business-cons-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 30px;
}
.business-cons-images{
    display: grid;
    grid-template-columns: minmax(270px, 1fr) minmax(270px, 1fr);
    grid-gap: 22px 30px;
    grid-template-rows: auto auto;
    color: #fff
}
.p-grey-bg{
    background-color: #333333;
    padding: 14px;
    color: #fff;
    display: inline-block;
}
.img-item{
    display: flex;
    padding: 15px;
    align-items: flex-end;
    justify-content: flex-start;
    background-size: cover;
    background-repeat: no-repeat;
}
.consulting{
    background-image: url("../img/business-cons-1.png");
}
.photography{
    background-image: url("../img/business-cons-2.png");
}
.web-design{
    background-image: url("../img/business-cons-3.png");
}
.advertizing{
    background-image: url("../img/business-cons-4.png");
}
.business-cons-desc h3{
    font-size: 18px;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 26px;
    text-transform: uppercase;
}
.business-desc{
    line-height: 1.571;
}
.business-desc:nth-child(2){
    margin-bottom: 25px;
}
.business-desc:nth-child(3){
    margin-bottom: 35px;
}
.checkout:link,
.checkout:visited{
    background-color: #f1ad1d;
    display: flex;
    padding:20px 27px;
    color: #fff;
    font-weight: bold;
    text-decoration: none;
    width: 176px;
}
.we-change-ideas{
    padding: 140px 0 205px;
    background-image: url("../img/we-change-bg.png");
    background-size:cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin-bottom: 43px;
}
.we-change-ideas .section-heading{
    color: #fff;
}
.team-photo-container{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 2px;
    grid-template-rows: 170px 170px;
}
.participant1{
    background-image: url("../img/team-1.png");
}
.participant2{
    background-image: url("../img/team-2.png");
}
.participant3{
    background-image: url("../img/team-3.png");
}
.participant4{
    background-image: url("../img/team-4.png");
}
.participant5{
    background-image: url("../img/team-5.png");
}
.participant6{
    background-image: url("../img/team-6.png");
}
.participant7{
    background-image: url("../img/team-7.png");
}
.participant8{
    background-image: url("../img/team-8.png");
}
.participant9{
    background-image: url("../img/team-9.png");
}
.participant10{
    background-image: url("../img/team-10.png");
}
.participant11{
    background-image: url("../img/team-11.png");
}
.participant12{
    background-image: url("../img/team-12.png");
}


