html{
    max-width: 1200px;
}
.window-main {
    min-width: 1200px;
    max-width: 100%;
    font-family: 'Montserrat', Sans-Serif;
    position: relative;
}
.header {
    width: 1920px;
    perspective: 1px;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
}
.header::before {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    z-index: -1;
    background: url("../img/Layer_1.png");
    background-size: cover;

}
.header-menu {
    height: 120px;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.logo{
    display: flex;
    align-items: center;
}
.logo-poligon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 58px;
    height: 67px;
    color: #ffffff;

    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
    background: url("../img/Polygon_1.png");
}
.the-Ham-logo {
    font-size: 32px;
    font-weight: 400;
    color: #ffffff;
    padding-left: 8px;
}
.Ham-logo {
    color: #18cfab;
    font-weight: 700;
}
.header-menu-main {
    width: 644px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header-menu-main a{
    text-decoration: none;
    color: #b8b8b8;;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 700;
}
.header-menu-main a:hover {
    color: #18cfab;
    padding-bottom: 54px;
    padding-top: 55px;
    border-bottom: #18cfab solid 1px;
}
.header-text-buttons {
    height: 900px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.header-text {
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #ffffff;
}
.top {
    text-transform: uppercase;
    font-size: 35px;
    font-weight: 700;
}
.green-text-header {
    color: #18cfab;
}
.middle {
    font-size: 79px;
    font-weight: 700;
    margin: 0px;
    text-transform: uppercase;
}
.bottom {
    color: #d4d4d4;
    font-size: 34px;
    font-weight: 300;
}
.header-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
}
.explore-btn {
      width: 166px;
      height: 61px;
      border-top: #ffffff solid 4px;
      border-radius: 5px;
      background-color: #18cfab;
      font-size: 13px;
      font-weight: 700;
      color: #ffffff;
      text-transform: uppercase;
      margin: 14px;
  }
.purchase-btn {
    width: 166px;
    height: 61px;
    border-top: #ffffff solid 4px;
    border-radius: 5px;
    background-color: #00cbf6;
    font-size: 13px;
    font-weight: 700;
    color: #ffffff;
    text-transform: uppercase;
    margin: 14px;
}
.squares {
    display: flex;
    /*align-items: center;*/
    /*justify-items: center;*/
}
.squares p {
    margin-top: 48px;
}
.first-square {
    display: flex;
    /*flex-grow: 1;*/
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 480px;
    height: 374px;
    background-color: #1c2a33;
    color: #18cfab;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    border-top: #18cfab solid 7px;
}.second-square {
    display: flex;
     /*flex-grow: 1;*/
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 480px;
    height: 374px;
    background-color: #18cfab;
    color: #ffffff;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    border-top: #ffffff solid 7px;
}.third-square {
    display: flex;
      /*flex-grow: 1;*/
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 480px;
    height: 374px;
    background-color: #1c2a33;
    color: #18cfab;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    border-top: #18cfab solid 7px;
}.foorth-square {
       display: flex;
       /*flex-grow: 1;*/
       flex-direction: column;
       align-items: center;
       justify-content: center;
       width: 480px;
       height: 374px;
       background-color: #18cfab;
       color: #ffffff;
       font-size: 20px;
       font-weight: 700;
       text-transform: uppercase;
       border-top: #ffffff solid 7px;
}
.sections {
    text-align: center;
    position: relative;
}
.sections p {
    margin-top: 82px;
    text-align: center;
    color: #4e4e4e;
    font-size: 36px;
    font-weight: 400;
}
.sections p::after {
    content:'';
    display: block;
    height: 1px;
    width:75px;
    background-color:  #18cfab;
    position: relative;
    left: 100vh;
    top: 25px;
}.sections p::before {
    content:'';
    display: block;
    height: 1px;
    width:75px;
    background-color:  #18cfab;
    position: relative;
    left: 95vh;
    top: 60px;
}
 .tabs {
     list-style: none;
     display: flex;
     align-items: center;
     justify-content: center;
 }
 .tabs li {
     /*padding: 20px;*/
     display: flex;
     align-items: center;
     justify-content: center;
     width: 192px;
     height: 73px;
     background-color: #f8fcfe;
     color: #888889;
     cursor: pointer;
     border: #eff1f1 solid 1px;
 }