@media screen and (max-width: 650px) {
  .servises {
    flex-direction: column;
    justify-content: center;
    &__div {
      justify-content: space-evenly;
      width: 100%;

    }
    &__description {
      width: 100%;
    }
  }
}

@media screen and(max-width: 450px) {
  .servises {
    &__div {
    }
    &__img {
      width: 100%;
    }
  }
}

