* {
  margin: 0;
  padding: 0;
}

.servises {
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  &__div {
    width: 47%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  &__img {
    margin-bottom: 10px;
    background-color: red;
    height: 150px;
    width: 45%;
  }
  &__description {
    width: 47%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
}

@import "media";
