.all_body {
    position: relative;
    background: url("../img/rana-sawalha-364253-unsplash@1X.png") 100% 100% no-repeat;
    background-size: cover;
    font-family: 'verdana', sans-serif;
}
.sprite {
    background-image: url("../img/spritesheet.png");
    background-repeat: no-repeat;
    display: block;
}

.sprite-ic_caledar_1X {
    width: 19px;
    height: 19px;
    background-position: 0 0;
}
.sprite-ic_caledar_1X:hover {
background: url(../img/ic_caledar@1X1.png);
}

.sprite-ic_forum_1X {
    width: 28px;
    height: 20px;
    background-position: -19px 0;
}
.sprite-ic_forum_1X:hover {
    background: url(../img/ic_forum@1X1.png);
}
.sprite-ic_journey_1X {
    width: 20px;
    height: 20px;
    background-position: -47px 0;
}
.sprite-ic_journey_1X:hover {
    background: url(../img/ic_journey@1X1.png);
}
.header {
    background-color: rgba(0, 0, 0, 0.4);
}
.header_container {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1170px;
    width: 100%;
}
.header_ul_img {
    display: flex;
    justify-content: space-between;
}
.header_logo {
    padding-top: 20px;
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-weight: bold;
    margin-right: 50%;
}
.header_logo:hover {
color: #3CB878;
}
.header_li_img {
    padding: 16px;
}
.header_vertical_line {
    margin: 16px;
    width: 2px;
    height: 19px;
    content: "";
    background-color: grey;
}
.welcome_text {
    margin: 16px;
    color: white;
    font-size: 14px;
    font-weight: bold;
}
.header_sign_up {
    color: #3BAE72;
    text-decoration: none;
}
.main_body {
    display: flex;
    justify-content: center;
}
.center_block {
    position: relative;
    box-sizing: border-box;
    width: 444px;
    height: 584px;
    background-color: white;
    margin-top: 64px;
    margin-bottom: 64px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    padding: 30px 60px;
}
.head_central_form {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.login_center_block {
    text-decoration: none;
    font-weight: bold;
    font-size: 14px;
    color: green;
}
.signup_center_block {
    font-weight: bold;
    font-size: 20px;
}
.greenbox {
    display: block;
    content: "";
    width: 18px;
    height: 18px;
    background-color: green;
    position: absolute;
    left: 0px;
}
.face_and_google_btns {
    display: flex ;
}
.facebook {
    flex-grow: 1;
    display: flex;
    margin: 11px 5px;
    height: 47px;
    background-color: #305DB8;
    border: 0px;
    border-radius: 5px;
    padding: 0px;
    color: white;
    font-size: 16px;
    align-items: center;
    justify-content: space-around;

}
.google {
    flex-grow: 1;
    display: flex;
    margin: 11px 5px;
    height: 47px;
    background-color: #DF4A32;
    border: 0px;
    border-radius: 5px;
    padding: 0px;
    color: white;
    font-size: 16px;
    align-items: center;
    justify-content: space-around;
}
.between_in_btn{
    opacity: 0.1;
}
.line_in_or_line {
    width: 135px;
    height: 1px;
    background-color: #3d3d3d;
}
.or_line {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 25px 0px 15px 0px;
    box-sizing: border-box;

}
.inputs_all {
    height: 370px;
    display: flex;
    flex-direction: column;
    align-items: normal;
    justify-content: space-between;

}
.input {
    height: 35px;
    border-radius: 5px;
}
.container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-top: 20px;
    cursor: pointer;
    font-size: 14px;
}
.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 15px;
    width: 15px;
    background-color: #eee;
}
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}
.container input:checked ~ .checkmark:after {
    display: block;}
.container .checkmark:after {
    left: 3px;
    top: 1px;
    width: 5px;
    height: 7px;
    border: solid #3CB878;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
}
.greenText {
    text-decoration: none;
    color: #3CB878;
}
.create_account_btn {
    display: flex;
    width: 322px;
    height: 42px;
    align-items: center;
    justify-content: center;
    background-color: #3CB878;
    color: white;
    font-size: 16px;
}