.navbar {
    width: 100%;
    height: 70px;
    background-color: #1d2124;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar-logo {
    /*width: 188px;*/
    /*height: 70px;*/
    display: flex;
    align-items: center;
    /*justify-content: space-between;*/
}
.navbar-logo img {
    padding: 21px;
    background-color: #1a1d20;
}
.navbar-logo b {
    text-align: center;
    color: #ffffff;
    font-family: 'Open Sans', sans-serif;
    font-size: 22px;
    font-weight: 700;
    letter-spacing: 0.2em;
}
.navbar-main-menu {
    display: flex;
    /*align-items: center;*/
    width: 701px;
    height: 12px;
    justify-content: space-around;
}
.navbar-main-menu a {
    text-decoration: none;
    color: #ffffff;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    font-weight: 400;
    text-transform: uppercase;
}
.navbar-search {
    padding: 25px;
    background-color: #1a1d20;
}
.header {
    height: 387px;
    width: 100%;
    background-image: url("../img/html_css_homework_homework6_img_header-bg.jpeg");
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.header p {
    margin-bottom: 44px;
    color: #ffffff;
    font-family: 'Open Sans', sans-serif; ;
    font-size: 27px;
    font-weight: 400;
    text-transform: uppercase;
}
.header button {
    width: 170px;
    height: 55px;
    margin: 10px;
    border-radius: 5px;
    border: transparent;
    color: #ffffff;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: 400;
    cursor: pointer;
}
.subscribe {
    background-color: #89ca62;
}
.best-articles {
    background-color: #14b9d5;
}
.most-popular-posts {
    display: grid;
    grid-template-areas:
            "header-posts header-posts header-posts"
            "1post 2post 3post"
            "4post 5post 6post";
    background-color: #f2f2f2;
    width: 100%;
    height: 1100px;
;
    grid-template-rows: 100px;
    grid-template-columns: auto ;
    grid-gap: 30px;
    justify-content: center;
    align-content: start;
}
.header-posts {
    grid-area: header-posts;
    text-align: center;
    color: #18b4cf;
    font-family: 'Open Sans', sans-serif;
    font-size: 27px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 50px;
}
.most-popular-posts p {
    font-size: 20px;
    background-color: white;
    text-align: center;
    padding: 18px;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
}
.our-most-popular-clients {
    width: 100%;
    height: 588px;
    background: url("../img/html_css_homework_homework6_img_parallax-bg.jpeg");
    background-size: cover;
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-areas:
    "most-popular most-popular most-popular most-popular"
    "span-line span-line span-line span-line" '1client 2client 3client 4client';
    padding: 198px;

}
most-popular {
    grid-area: most-popular;
    text-align: center;
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-size: 27px;
    font-weight: 700;
    text-transform: uppercase;
    /*padding: 50px;*/
}
#span-line{
    grid-area: span-line;
    text-align: center;
    width: 50px;
    height: 2px;
    background-color: #03a9f4;
}


