.mainblock {
    width: 1280px;
    margin: 0 auto;
    color: black;

}
.bluetext {
    display: block;
    text-align: left;
    font-family: sans-serif;
    font-size: 80px;
    text-decoration: none;
    color: #4bcaff;
    margin: 30px auto 30px auto;
}
.nav {
    overflow: hidden;
    background-color: #35444f;

}
.mainmenu {
    display: block;
    width: 1080px;
    margin: 0 auto;

}
.list {
    list-style-type: none;
}
.mainmenulist {
    display: inline-block;
    float: left;
    width: auto;
    margin: 26px 42px;
    color: white;
    text-decoration: none;
    font-size: 24px;
    font-family: sans-serif;

}
.leftcontentborder {
    width: 330px;
    float: left;
    border: black 1px solid;
    margin: 60px auto auto 0px;
    font-family: sans-serif;
    text-align: left;
}
.leftcontent {
    padding: auto;
}
.leftcontentfont {
    list-style-type: none;
    display: block;
}
.leftcontentfontin {
    display: block;
    text-decoration: none;
    font-size: 30px;
    color: #495863;
    margin: 30px auto;

}
.rightcontent {
    width: 900px;
    float: right;
    text-align: center;

}
.img {
    border: black 1px solid;
    margin: 60px 0px 60px 0px;
    padding: 80px 282px 80px 283px;
}
.textincontent {
    font-size: 18px;
    font-family: sans-serif;
    text-align: left;
}
.footer {
    overflow: hidden;
    background-color: #b4b7ba;
}
.lifooterhorizont {
    display: inline-block;
    float: left;
    width: auto;
    color: white;
    text-decoration: none;
    font-size: 24px;
    font-family: sans-serif;
    margin: 22px 25px;
}
.blacklink {
    text-decoration: none;
    color: black;

}
.copyright {
    display: inline-block;
    float: right;
    color: black;
    font-family: sans-serif;
    font-size: 24px;
    margin: 24px 30px;
}

li a.mainmenulist:hover {
    background-color: #222f3a;
}